.icon-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #EB6864;
}

.form-active .icon-container {
  top: 28%;
}


.calendar-icon {
    cursor: pointer;
    font-size: 1.2em;
    /* Se necessário, faça mais ajustes para garantir o posicionamento correto do ícone do calendário. */
    vertical-align: middle;  // Isso pode ajudar a alinhar o ícone com o ícone de validação.
}

.date-cursor {
  cursor: pointer;
}

.custom-invalid-input.is-invalid::before,
.custom-invalid-input.is-invalid::after {
    content: none !important;
}

.custom-invalid-input.is-invalid {
    background-image: none !important;
}
